@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Now you can use the Poppins font in your CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section1{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    top: 140px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696ED;
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(100, 98, 106, 0.316);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 80%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
}

.home .content h1 span{
    font-size: 1em;
    font-weight: 600;
}

.home .content p{
    font-size: 1.2em;
    margin-bottom: 65px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
/* .slider-navigation .nav-btn.active{
    background: #2696ED;
} */

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.3);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
}



@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section1{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    .menu-btn{
        background: url(menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

